
// <>

// </>

// <Шрфит по умолчанию>
$font-family: "";
// </Шрфит по умолчанию>

// <Максимальная ширина макета>
$maxWidthContainer: 1400 + 'px';
// </Максимальная ширина макета>


// <Цвета на сайте>
$white: #fff;
$black: #000;
// </Цвета на сайте>